:root {
  --link-color: #999999;
  --link-hover-color: #222222;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.content {
  grid-area: content;
  color: #333333;
  display: grid;
  grid-auto-rows: 250px;
}

.content_home_info {
  justify-self: center;
}

.content_partners_info {
  display: grid;
  background: #fafafa;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #eaeaea;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 250px 500px;
}

.content_partners_info > img {
  width: 200px;
}

.content_subtitle {
  font-size: 20px;
}

.content_trips_info {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 390px 360px;
}

.content_trips_info > img {
  width: 100%;
}

.content_info_link {
  color: var(--link-color);
  text-decoration: none;
}

.content_info_link:hover {
  color: var(--link-hover-color);
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-self: center;
}

.header_logo {
  width: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
}

.nav_link {
  color: var(--link-color);
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

.nav_link:hover {
  color: var(--link-hover-color);
}

.footer {
  grid-area: footer;
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  display: grid;
  min-height: 100px;
  width: 100%;
  justify-self: center;
}

.footer_content {
  justify-self: center;
  align-self: center;
  color: var(--link-color);
  font-size: 12px;
}

.box_parceiros{
  display: grid;
  grid-area: content;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  align-items: center;
}

.item {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  color: #999999;
}

.parceiros_logo1{
  max-width: 50%;
  height: auto;
  
}
.parceiros_logo2{
  max-width: 100%;
  height: auto;
}

.parceiros_logo3{
  max-width: 100%;
  height: auto;
}

.parceiros_logo4{
  max-width: 100%;
  height: auto;
}

.parceiros_logo5{
  max-width: 100%;
  height: auto;
}

.parceiros_logo6{
  max-width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-areas:
      "header"
      "content"
      "footer"
  }
}
